@import url(https://fonts.googleapis.com/css?family=Rubik:400,300);

body {
	text-align: center;
	padding: 100px;
}

header {
	background:#FFED74;
}

div,section {
	background:#FFE2B8;
}

footer {
	background:#FF957E;
}

h1, h3 {
	color: black;
	font-family: 'Rubik', sans-serif;
}

p {
	color: black;
	text-decoration: underline;
	font-family: 'Rubik', sans-serif;

}

img {
	padding:30px;
}